# Google PLAY STORE ANALYSIS AND VISUALIZATION
About the project:

    In this project, I'd be will be working on a real-world dataset of the google play store, one of the most used applications for downloading android apps. This project aims on cleaning the dataset, analyze the given dataset. This project also involves visualizing the data to better and easily understand trends and different categories.


Problem Statement:

    The team at Google Play Store wants to develop a feature that would enable them to boost visibility for the most promising apps. Now, this analysis would require a preliminary understanding of the features that define a well-performing app. You can ask questions like:

* Does a higher size or price necessarily mean that an app would perform better than the other apps?
* Or does a higher number of installs give a clear picture of which app would have a better rating than others?

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
filename='.\Google_Playstore_Raw.csv'
file_read=pd.read_csv(filename)
file_data_frame=pd.DataFrame(file_read)

In [4]:
file_data_frame

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.00000,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.00000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.00000,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.00000,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.00000,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53000.00000,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3600.00000,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9500.00000,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21516.52952,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19000.00000,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [5]:
file_data_frame.shape

(10841, 13)

In [6]:
file_data_frame.describe()

            Rating           Size
count  9367.000000   10841.000000
mean      4.193338   21516.529524
std       0.537431   20746.537567
min       1.000000       8.500000
25%       4.000000    5900.000000
50%       4.300000   18000.000000
75%       4.500000   26000.000000
max      19.000000  100000.000000

In [7]:
#After trying to convert price dtype to numeric, it shows some error and checking that index
file_data_frame[file_data_frame['Price']=='Everyone']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.52952,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up,NaN

In [8]:
#Shifting values from category to android ver
file_data_frame.loc[file_data_frame["Price"]=="Everyone", "Category":"Android Ver"] = file_data_frame.loc[file_data_frame["Price"]=="Everyone", "Category":"Android Ver"].shift(axis=1)

In [9]:
file_data_frame[file_data_frame['Category'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,None,1.9,19.0,3.0M,21516.52952,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up

In [10]:
#category none value filling with lifestyle, the value extracted from playstore
file_data_frame.Category.fillna(value='LIFESTYLE', inplace=True)

In [11]:
file_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   object
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: object(13)
memory usage: 1.1+ MB

In [12]:
#counting duplicate values
file_data_frame.duplicated().value_counts()

False    10358
True       483
dtype: int64

In [13]:
#there are 483 duplicate records, just drop that duplicate values(keeping one row there and other duplicate values droping)
file_data_frame.drop_duplicates(keep='first', inplace=True)

In [14]:
#checking duplicate values
file_data_frame.duplicated().value_counts()

False    10358
dtype: int64

In [15]:
file_data_frame['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [16]:
file_data_frame['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4.0, nan, 4.8,
       4.9, 3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5.0, 2.6, 3.0, 1.9, 2.5, 2.8,
       2.7, 1.0, 2.9, 2.3, 2.2, 1.7, 2.0, 1.8, 2.4, 1.6, 2.1, 1.4, 1.5,
       1.2, '1.9'], dtype=object)

In [17]:
#in Rating we got a nan value
#replacing NaN value to 0 because that app has no rating
file_data_frame['Rating'] = file_data_frame['Rating'].fillna(0)

In [18]:
file_data_frame['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [19]:
file_data_frame['Size'].unique()

array([19000.0, 14000.0, 8700.0, 25000.0, 2800.0, 5600.0, 29000.0,
       33000.0, 3100.0, 28000.0, 12000.0, 20000.0, 21000.0, 37000.0,
       2700.0, 5500.0, 17000.0, 39000.0, 31000.0, 4200.0, 7000.0, 23000.0,
       6000.0, 6100.0, 4600.0, 9200.0, 5200.0, 11000.0, 24000.0,
       21516.52952, 9400.0, 15000.0, 10000.0, 1200.0, 26000.0, 8000.0,
       7900.0, 56000.0, 57000.0, 35000.0, 54000.0, 201.0, 3600.0, 5700.0,
       8600.0, 2400.0, 27000.0, 2500.0, 16000.0, 3400.0, 8900.0, 3900.0,
       2900.0, 38000.0, 32000.0, 5400.0, 18000.0, 1100.0, 2200.0, 4500.0,
       9800.0, 52000.0, 9000.0, 6700.0, 30000.0, 2600.0, 7100.0, 3700.0,
       22000.0, 7400.0, 6400.0, 3200.0, 8200.0, 9900.0, 4900.0, 9500.0,
       5000.0, 5900.0, 13000.0, 73000.0, 6800.0, 3500.0, 4000.0, 2300.0,
       7200.0, 2100.0, 42000.0, 7300.0, 9100.0, 55000.0, 23.0, 6500.0,
       1500.0, 7500.0, 51000.0, 41000.0, 48000.0, 8500.0, 46000.0, 8300.0,
       4300.0, 4700.0, 3300.0, 40000.0, 7800.0, 8800.0, 6600.0, 5100.0,
       61000.0, 66000.0, 79.0, 8400.0, 118.0, 44000.0, 695.0, 1600.0,
       6200.0, 18.0, 53000.0, 1400.0, 3000.0, 5800.0, 3800.0, 9600.0,
       45000.0, 63000.0, 49000.0, 77000.0, 4400.0, 4800.0, 70000.0,
       6900.0, 9300.0, 8100.0, 36000.0, 84000.0, 97000.0, 2000.0, 1900.0,
       1800.0, 5300.0, 47000.0, 556.0, 526.0, 76000.0, 7600.0, 59000.0,
       9700.0, 78000.0, 72000.0, 43000.0, 7700.0, 6300.0, 334.0, 34000.0,
       93000.0, 65000.0, 79000.0, 100000.0, 58000.0, 50000.0, 68000.0,
       64000.0, 67000.0, 60000.0, 94000.0, 232.0, 99000.0, 624.0, 95000.0,
       8.5, 41.0, 292.0, 11.0, 80000.0, 1700.0, 74000.0, 62000.0, 69000.0,
       75000.0, 98000.0, 85000.0, 82000.0, 96000.0, 87000.0, 71000.0,
       86000.0, 91000.0, 81000.0, 92000.0, 83000.0, 88000.0, 704.0, 862.0,
       899.0, 378.0, 266.0, 375.0, 1300.0, 975.0, 980.0, 4100.0, 89000.0,
       696.0, 544.0, 525.0, 920.0, 779.0, 853.0, 720.0, 713.0, 772.0,
       318.0, 58.0, 241.0, 196.0, 857.0, 51.0, 953.0, 865.0, 251.0, 930.0,
       540.0, 313.0, 746.0, 203.0, 26.0, 314.0, 239.0, 371.0, 220.0,
       730.0, 756.0, 91.0, 293.0, 17.0, 74.0, 14.0, 317.0, 78.0, 924.0,
       902.0, 818.0, 81.0, 939.0, 169.0, 45.0, 475.0, 965.0, 90000.0,
       545.0, 61.0, 283.0, 655.0, 714.0, 93.0, 872.0, 121.0, 322.0,
       1000.0, 976.0, 172.0, 238.0, 549.0, 206.0, 954.0, 444.0, 717.0,
       210.0, 609.0, 308.0, 705.0, 306.0, 904.0, 473.0, 175.0, 350.0,
       383.0, 454.0, 421.0, 70.0, 812.0, 442.0, 842.0, 417.0, 412.0,
       459.0, 478.0, 335.0, 782.0, 721.0, 430.0, 429.0, 192.0, 200.0,
       460.0, 728.0, 496.0, 816.0, 414.0, 506.0, 887.0, 613.0, 243.0,
       569.0, 778.0, 683.0, 592.0, 319.0, 186.0, 840.0, 647.0, 191.0,
       373.0, 437.0, 598.0, 716.0, 585.0, 982.0, 222.0, 219.0, 55.0,
       948.0, 323.0, 691.0, 511.0, 951.0, 963.0, 25.0, 554.0, 351.0, 27.0,
       82.0, 208.0, 913.0, 514.0, 551.0, 29.0, 103.0, 898.0, 743.0, 116.0,
       153.0, 209.0, 353.0, 499.0, 173.0, 597.0, 809.0, 122.0, 411.0,
       400.0, 801.0, 787.0, 237.0, 50.0, 643.0, 986.0, 97.0, 516.0, 837.0,
       780.0, 961.0, 269.0, 20.0, 498.0, 600.0, 749.0, 642.0, 881.0, 72.0,
       656.0, 601.0, 221.0, 228.0, 108.0, 940.0, 176.0, 33.0, 663.0, 34.0,
       942.0, 259.0, 164.0, 458.0, 245.0, 629.0, 28.0, 288.0, 775.0,
       785.0, 636.0, 916.0, 994.0, 309.0, 485.0, 914.0, 903.0, 608.0,
       500.0, 54.0, 562.0, 847.0, 957.0, 688.0, 811.0, 270.0, 48.0, 329.0,
       523.0, 921.0, 874.0, 981.0, 784.0, 280.0, 24.0, 518.0, 754.0,
       892.0, 154.0, 860.0, 364.0, 387.0, 626.0, 161.0, 879.0, 39.0,
       970.0, 170.0, 141.0, 160.0, 144.0, 143.0, 190.0, 376.0, 193.0,
       246.0, 73.0, 658.0, 992.0, 253.0, 420.0, 404.0, '3.0M', 470.0,
       226.0, 240.0, 89.0, 234.0, 257.0, 861.0, 467.0, 157.0, 44.0, 676.0,
       67.0, 552.0, 885.0, 1020.0, 582.0, 619.0], dtype=object)

In [20]:
file_data_frame[file_data_frame['Size']=='3.0M']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,LIFESTYLE,1.9,19.0,3.0M,21516.52952,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up

In [21]:
#By using loc method we replace the '3.0M' to 3.0
file_data_frame.loc[10472,'Size']=3.0

In [22]:
file_data_frame.loc[10472,'Rating']=1.9

In [23]:
file_data_frame['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 21516.52952], dtype=object)

In [24]:
#Removing ','
file_data_frame['Installs'] = file_data_frame['Installs'].str.replace(',', '', regex=True)

In [25]:
file_data_frame['Installs'] = file_data_frame['Installs'].str.replace('+', '', regex=True)

In [26]:
file_data_frame[file_data_frame['Installs'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,LIFESTYLE,1.9,19.0,3.0,NaN,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up

In [27]:
#Replacing NaN value with 0
file_data_frame.fillna({'Installs':0},inplace=True)

In [28]:
file_data_frame[file_data_frame['Type'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9148,Command & Conquer: Rivals,FAMILY,0,0,21516.52952,0,NaN,0,Everyone 10+,Strategy,28-Jun-18,Varies with device,Varies with device

In [29]:
file_data_frame.fillna({'Type':'Free'},inplace=True)

In [30]:
file_data_frame['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [31]:
file_data_frame['Price'].unique()

array(['0', '$4.99 ', '$3.99 ', '$6.99 ', '$1.49 ', '$2.99 ', '$7.99 ',
       '$5.99 ', '$3.49 ', '$1.99 ', '$9.99 ', '$7.49 ', '$0.99 ',
       '$9.00 ', '$5.49 ', '$10.00 ', '$24.99 ', '$11.99 ', '$79.99 ',
       '$16.99 ', '$14.99 ', '$1.00 ', '$29.99 ', '$12.99 ', '$2.49 ',
       '$10.99 ', '$1.50 ', '$19.99 ', '$15.99 ', '$33.99 ', '$74.99 ',
       '$39.99 ', '$3.95 ', '$4.49 ', '$1.70 ', '$8.99 ', '$2.00 ',
       '$3.88 ', '$25.99 ', '$399.99 ', '$17.99 ', '$400.00 ', '$3.02 ',
       '$1.76 ', '$4.84 ', '$4.77 ', '$1.61 ', '$2.50 ', '$1.59 ',
       '$6.49 ', '$1.29 ', '$5.00 ', '$13.99 ', '$299.99 ', '$379.99 ',
       '$37.99 ', '$18.99 ', '$389.99 ', '$19.90 ', '$8.49 ', '$1.75 ',
       '$14.00 ', '$4.85 ', '$46.99 ', '$109.99 ', '$154.99 ', '$3.08 ',
       '$2.59 ', '$4.80 ', '$1.96 ', '$19.40 ', '$3.90 ', '$4.59 ',
       '$15.46 ', '$3.04 ', '$4.29 ', '$2.60 ', '$3.28 ', '$4.60 ',
       '$28.99 ', '$2.95 ', '$2.90 ', '$1.97 ', '$200.00 ', '$89.99 ',
       '$2.56 ', '$30.99 ', '$3.61 ', '$394.99 ', '$1.26 ', '$1.20 ',
       '$1.04 '], dtype=object)

In [32]:
file_data_frame['Price'] = file_data_frame['Price'].str.replace('$', '', regex=True)

In [33]:
file_data_frame['Price'] = file_data_frame['Price'].str.replace(' ', '', regex=True)

In [34]:
file_data_frame[file_data_frame['Genres'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,LIFESTYLE,1.9,19.0,3.0,0,Free,0,Everyone,NaN,11-Feb-18,1.0.19,4.0 and up

In [35]:
#Genres none value filling with lifestyle, the value extracted from playstore and cross checked from unique values
file_data_frame.Genres.fillna(value='Lifestyle', inplace=True)

In [36]:
file_data_frame[file_data_frame['Current Ver'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
15,Learn To Draw Kawaii Characters,ART_AND_DESIGN,3.2,55,2700.0,5000,Free,0,Everyone,Art & Design,6-Jun-18,NaN,4.2 and up
1553,Market Update Helper,LIBRARIES_AND_DEMO,4.1,20145,11.0,1000000,Free,0,Everyone,Libraries & Demo,12-Feb-13,NaN,1.5 and up
6322,Virtual DJ Sound Mixer,TOOLS,4.2,4010,8700.0,500000,Free,0,Everyone,Tools,10-May-17,NaN,4.0 and up
6803,BT Master,FAMILY,0,0,222.0,100,Free,0,Everyone,Education,6-Nov-16,NaN,1.6 and up
7333,Dots puzzle,FAMILY,4.0,179,14000.0,50000,Paid,0.99,Everyone,Puzzle,18-Apr-18,NaN,4.0 and up
7407,Calculate My IQ,FAMILY,0,44,7200.0,10000,Free,0,Everyone,Entertainment,3-Apr-17,NaN,2.3 and up
7730,UFO-CQ,TOOLS,0,1,237.0,10,Paid,0.99,Everyone,Tools,4-Jul-16,NaN,2.0 and up
10342,La Fe de Jesus,BOOKS_AND_REFERENCE,0,8,658.0,1000,Free,0,Everyone,Books & Reference,31-Jan-17,NaN,3.0 and up

In [37]:
#we remove the null values in current version
file_data_frame = file_data_frame.drop(file_data_frame[file_data_frame['Current Ver'].isnull()].index)

In [38]:
file_data_frame.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       2
dtype: int64

In [39]:
#The next step we drop the rows with value “Varies with data”
file_data_frame = file_data_frame.drop(file_data_frame[file_data_frame['Current Ver']=='Varies with device'].index)

In [40]:
# Drop null values in `Andriod Ver` column
final_data_frame=file_data_frame.dropna(subset=['Android Ver'])

In [41]:
#Now our data are cleaned
final_data_frame.isnull().sum()
#Change Data types of column.

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [42]:
final_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9046 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9046 non-null   object
 1   Category        9046 non-null   object
 2   Rating          9046 non-null   object
 3   Reviews         9046 non-null   object
 4   Size            9046 non-null   object
 5   Installs        9046 non-null   object
 6   Type            9046 non-null   object
 7   Price           9046 non-null   object
 8   Content Rating  9046 non-null   object
 9   Genres          9046 non-null   object
 10  Last Updated    9046 non-null   object
 11  Current Ver     9046 non-null   object
 12  Android Ver     9046 non-null   object
dtypes: object(13)
memory usage: 989.4+ KB

In [43]:
final_data_frame.Reviews

0          159
1          967
2        87510
4          967
5          167
         ...
10834        7
10835        0
10836       38
10837        4
10838        3
Name: Reviews, Length: 9046, dtype: object

In [44]:
final_data_frame.Reviews=final_data_frame.Reviews.astype(float)

In [45]:
final_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9046 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9046 non-null   object
 1   Category        9046 non-null   object
 2   Rating          9046 non-null   object
 3   Reviews         9046 non-null   float64
 4   Size            9046 non-null   object
 5   Installs        9046 non-null   object
 6   Type            9046 non-null   object
 7   Price           9046 non-null   object
 8   Content Rating  9046 non-null   object
 9   Genres          9046 non-null   object
 10  Last Updated    9046 non-null   object
 11  Current Ver     9046 non-null   object
 12  Android Ver     9046 non-null   object
dtypes: float64(1), object(12)
memory usage: 989.4+ KB

In [46]:
final_data_frame

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19000.0,10000,Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000.0,500000,Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8700.0,5000000,Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2800.0,100000,Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167.0,5600.0,50000,Free,0,Everyone,Art & Design,26-Mar-17,1,2.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7.0,2600.0,500,Free,0,Everyone,Education,18-Jun-17,1.0.0,4.1 and up
10835,FR Forms,BUSINESS,0,0.0,9600.0,10,Free,0,Everyone,Business,29-Sep-16,1.1.5,4.0 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38.0,53000.0,5000,Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4.0,3600.0,100,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,0,3.0,9500.0,1000,Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up

In [47]:
final_data_frame['Rating']=final_data_frame['Rating'].astype(float)

In [48]:
final_data_frame['Size']=pd.to_numeric(final_data_frame['Size'])

In [49]:
final_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9046 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9046 non-null   object
 1   Category        9046 non-null   object
 2   Rating          9046 non-null   float64
 3   Reviews         9046 non-null   float64
 4   Size            9046 non-null   float64
 5   Installs        9046 non-null   object
 6   Type            9046 non-null   object
 7   Price           9046 non-null   object
 8   Content Rating  9046 non-null   object
 9   Genres          9046 non-null   object
 10  Last Updated    9046 non-null   object
 11  Current Ver     9046 non-null   object
 12  Android Ver     9046 non-null   object
dtypes: float64(3), object(10)
memory usage: 989.4+ KB

In [50]:
final_data_frame['Price']=final_data_frame['Price'].astype(float)

In [51]:
final_data_frame.to_csv('GooglePlayStore_cleaned_data.csv',index=False)